.input-group.bootstrap-touchspin{
	.input-group-btn{
		.btn{
			width: 34px;
			padding-left: 8px;
			padding-right: 8px;
			text-align: center;
			&.btn-default{
				&:hover{
					background-color: #fff;
				}
			}
		}
	}
	.form-control.touchspin-form-control{
		text-align: center;
	}
}