<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quản trị cửu kiếm</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/assets/css/main.css">
	<link rel="stylesheet" href="/assets/css/theme.css">
</head>
<body>

<div class="container">
 
  <h3 class="head-admin text-center">Cửu kiếm chi vương</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tiêu đề</th>
        
        <th>Nội dung</th>
      </tr>
    </thead>
    <tbody>
      <% data.rows.forEach(function(item){ %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.tieude %></td>
      
        <td><%= item.noidung %></td>
        <td>
          --<a onclick="return confirm('bạn muốn xóa')" href="/delete/<%= item.id %>">Xóa</a>
          --<a href="/add">Thêm</a></td>
      </tr>
      <%})%>
    </tbody>
  </table>
  
</div>

</body>
</html>