// ====
// Components
// ====


// --
// breadcrumbs

ul.ht-breadcrumb{
  padding: 0 ;
  margin: 0;
  font-size: 0;
  border-radius: 2px;
  @media (max-width: $screen-sm-max){
    white-space: nowrap;
    overflow: auto;
    overflow: overlay;
  }
  li{
    a,span{
      display: block;
      &:hover, &:active, &:focus, &:visited{
        text-decoration: none;
      }
      // @extend .ht-lowercasebf;
    }
    a{
      
    }
    span{
      display: block;
    }
  }
  & > li{
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0 24px 0 0;
    line-height: 16px;
    font-size: 12px;
    & > a,
    & > span{
      position: relative;
      padding: 9px 0;
      line-height: 16px;
      font-size: 12px;
      color: $grey700;
      max-width: 240px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      z-index: 110;
    }
    &:after{
      content: "/";
      display: block;
      position: absolute;
      top: 9px; right: 0;
      width: 24px;
      line-height: 16px;
      text-align: center;
      color: $grey400;
    }
    &:last-child:after{
      display: none;
    }
    ul{
      display: none;
    }
    &.active{
      color: $grey600;
      & > a,
      & > span{
        color: $grey600;
      }
    }
    ul{
      display: none;;
      position: absolute;
      top: 100%; left: -4px;
      // margin-top: -4px;
      padding: 4px;
      min-width: calc(100% - 12px);
      background-color: #fff;
      z-index: 100;
      // border: 1px solid #eaeaea;
      box-shadow: 0 2px 5px 0 rgba(#000,.12);
      &[class$="columns"]{
        @include column-gap(8px);
      }
      li{
        display: block;
        line-height: 16px;
        a{
          display: block;
          padding: 4px 12px 4px 8px;
          line-height: 16px;
          font-size: 12px;
          color: $grey700;
          // one line
          max-width: 200px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          &:hover{
            color: $green500;
          }
        }
      }
    }
    &:hover{
      & > a{
        color: $grey600;
        &:hover{
          color: $green500;
        }
      }
    }
    @media (min-width: $screen-md-min){
      &:hover{
        ul{
          display: block;
        }
      }
      &.has-inner-ul{
        & > a{
          &:after{
            content: "";
            display: none;
            position: absolute;
            bottom: -1px; left: 50%;
            margin-left: -8px;
            z-index: 105;
            width: 16px;
            height: 10px;
            background-image: url('../img/dropdown-arrow.png');
            background-repeat: no-repeat;
            background-attachment: 0 0;
          }
        }
        &:hover{
          & > a{
            &:after{
              display: block;
            }
          }
        }
      }
    }
  }
}
.ht-breadcrumb_wrap{
  padding: 0 12px;
  background-color: $grey100;
  border-radius: 2px;
}


// --
// subcat list

ul.ht-subcat-list{
  margin: 0;
  padding: 0;
  list-style: none;
  @include clearfix();
  li{
    a{
      display: block;
      &:hover, &:active, &:focus, &:visited{
        text-decoration: none;
      }
    }
  }
  & > li{
    position: relative;
    float: left;
    width: 50%;
    padding: 0 8px;
    margin: 2px 0;
    @media (min-width: $screen-sm-min){
      width: 33.33%;
    }
    @media (min-width: $screen-lg-min){
      width: 25%;
    }
    & > a{
      position: relative;
      padding: 4px;
      display: inline-block;
      vertical-align: top;
      line-height: 18px;
      max-width: 100%;
      color: $grey900;
      @media (min-width: $screen-sm-min){

      }
      .subcat-label{
        display: block;
        font-size: 12px;
        max-width: 100%;
        @media (min-width: $screen-sm-min){
          font-size: 14px;
        }
        // oneline
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .subcat-icon{
        display: none;
        position: absolute;
        top: 4px; right: 0;
        padding: 0 2px;
        line-height: 18px;
        text-align: center;
        @media (min-width: $screen-sm-min){
          display: block;
        }
      }
    }
    &.has-inner-ul{
      & > a{
        padding: 4px 18px 4px 4px;
      }
    }
    ul{ 
      display: none;
      position: absolute;
      top: 100%;
      left: 8px;
      margin: 0;
      padding: 4px;
      list-style: none;
      background-color: #fff;
      z-index: 110;
      border: 1px solid #eaeaea;
      box-shadow: 0 2px 5px 0 rgba(#000,.08);
      &[class$="columns"]{
        @include column-gap(8px);
      }
      li{
        display: block;
        line-height: 16px;
        a{
          display: block;
          padding: 4px 12px 4px 8px;
          line-height: 16px;
          font-size: 12px;
          color: $grey700;
          // one line
          max-width: 240px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          &:hover{
            color: $green500;
          }
        }
      }
    }
    &:hover{
      & > a{
        color: $grey600;
        &:hover{
          color: $green500;
        }
      }
    }
    @media (min-width: $screen-sm-min){
      &:hover{
        ul{
          display: block;
        }
      }
    }
  }

}
.ht-subcat-list_wrap{
  padding: 6px 0;
  background-color: $grey50;
  border: 1px solid #eee;
  border-radius: 2px;
}



// ---------
// Lists
// ul.ht-list{
//   display: block;
//   margin: 0;
//   padding: 0;
//   &.ht-list-icon{
//     & > li{
//       position: relative;
//       padding-left: 24px;
//       & > i{
//         display: block;
//         position: absolute;
//         top: 0; left: 0;
//         line-height: 21px;
//         width: 18px;
//         text-align: center;
//       }
//     }
//     &.fz-12{
//        & > li{
//         padding-left: 20px;
//         & > i{
//           line-height: 16px;
//           width: 16px;
//         }
//       }
//     }
//     &.icon-lg{
//       & > li{
//         padding-left: 28px;
//         & > i{
//           width: 18px;
//           font-size: 18px;
//         }
//       }
//     }
//   }
// }





// ---------
// meta Inline

.ht-meta-inline{
  font-size: 0;
  line-height: 16px;
  & > span{
    display: inline-block;
    vertical-align: top;
    line-height: 16px;
    font-size: 12px;
    &:after{
      content: "\2022";
      display: inline-block;
      vertical-align: top;
      padding: 2px 6px 0;
      line-height: 14px;
      font-size: 10px;
      color: $grey400;
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
  }
}


// --
// option input
// Checkbox and Radio with Previews

.ht-single-option-w-preview{
  margin: 0 0 8px;
  label{
    display: block;
    position: relative;
    margin: 0;
    cursor: default;
    .preview-option{
      display: block;
      position: relative;
      border: 2px solid #e0e0e0;
      cursor: pointer;
      @include transition(border-color .1s ease-in-out);
      &:after{
        content: "";
        display: block;
        position: absolute;
        bottom: 0; right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 24px 24px;
        border-color: transparent;
        z-index: 90;
      }
      span{
        display: block;
      }
      .label-color{
        width: 56px;
        height: 56px;
        border: 2px solid #fff;
        &.size-lg{
          width: 72px;
          height: 72px;
        }
      }
      .label-image{
        width: 56px;
        height: 56px;
        &.size-lg{
          width: 72px;
          height: 72px;
        }
      }
      .label-text{
        padding: 5px 16px;
        line-height: 20px;
        font-size: 14px;
        font-weight: 500;
        color: $grey900;
        background-color: $grey50;
      }
      .check-icon{
        display: block;
        position: absolute;
        bottom: 0; right: 2px;
        line-height: 12px;
        font-size: 10px;
        text-align: center;
        color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 95;
      }
    }
    input{
      &:disabled + .preview-option{
        pointer-events: none;
        border-color: #f4f4f4;
        cursor: default;
        .label-color{
          opacity: .5;
        }
        .label-image{
          opacity: .5;
        }
        .label-text{
          color: $grey400;
        }
      }
      &:checked + .preview-option{
        background-color: #fff;
        border-color: $green500;
        &:after{
          border-color: transparent transparent $green500 transparent;
        }
        .label-text{
          background-color: $grey100;
          border-color: $green500;
        }
        i{
          visibility: visible;
          opacity: 1;
        }
      }
    }
    &.disabled{
      cursor: default;
    }
  }
}
.ht-list-options-w-preview{
  &.ht-list-inline{
    font-size: 0;
    .ht-single-option-w-preview{
      margin: 0 8px 8px 0;
      font-size: 14px;
      display: inline-block;
      vertical-align: top;
    }
  }
}


// --
// loading
.ht-loading-icon{
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-image: url("../img/loading.svg");
  background-size: 24px;
  background-position: 50% 50%;
  &.icon_16x16{
    width: 16px;
    height: 16px;
    background-size: 16px;
  }
  &.icon_32x32{
    width: 32px;
    height: 32px;
    background-size: 32px;
  }
  &.icon_48x48{
    width: 48px;
    height: 48px;
    background-size: 48px;
  }
}


ul.ht-tags-list-inline{
  padding: 8px 0;
  li{
    display: inline-block;
    vertical-align: top;
    &.tags-title{
      margin: 0 8px 0 0;
      padding: 3px 0px;
      line-height: 16px;
      font-size: 12px;
    }
    a,span{
      display: block;
      padding: 3px 6px;
      line-height: 16px;
      font-size: 12px;
      color: #fff;
      border-radius: 2px;
      @include transition(opacity .1s ease-in-out);
      &:hover, &:active, &:focus{
        text-decoration: none;
      }
    }
    a{
      &:hover{
        opacity: .8;
      }
    }
  }
}
.single-tags-label{
  display: inline-block;
  vertical-align: center;
  margin: 0 8px;
  padding: 4px 8px;
  line-height: 18px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border-radius: 2px;
  @include transition(opacity .1s ease-in-out);
  &:hover, &:active, &:focus{
    text-decoration: none;
  }
}


.modal-product-sharing{
  .share-to-get-gift-intro{
    font-size: 12px;
    margin: 0 0 12px;
  }
  .product-share-link-wrap{
    margin: 8px 0;
    padding: 12px 12px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 14px;
    color: $grey700;
    word-break: break-all;
    background-color: $grey200;
    border: 1px solid $grey300;
    border-radius: 4px;
    width: 100%;
    @include user-select(all);
  }
}




