// HEADER

#siteHeader{
	background-color: #fff;
	box-shadow: 0 1px 3px 0 rgba(#000,.12);
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			position: relative;
			a{
				display: block;
			}
		}
	}
	a{
		position: relative;
		&:hover, &:focus, &:active, &:visited{
			text-decoration: none;
		}
	}

	.sh_top-menu{
		display: none;
		background-color: $grey200;
		@media (min-width: $screen-md-min){
			display: block;
		}
		.sh_top-menu_wrapper{
			//
		}
		ul.sh_top-nav-list{
			font-size: 0;
			white-space: nowrap;
			li{
				a{
					line-height: 18px;
					font-size: 12px;
					font-weight: 400;
					i{
						line-height: 18px;
						display: inline-block;
						vertical-align: top;
					}
				}
			}
			& > li{
				display: inline-block;
				position: relative;
				vertical-align: top;
				margin: 0 4px;
				// padding: 0 2px;
				line-height: 28px;
				font-size: 14px;
				@media (min-width: $screen-lg-min){
					// padding: 0 4px;
				}
				&:first-child{
					padding-left: 0;
				}
				&:last-child{
					padding-right: 0;
				}
				&.divider{
					width: 1px;
					height: 16px;
					padding: 0;
					margin: 6px 12px;
					background-color: rgba(#000,.12);
				}
				& > a{
					padding: 5px 8px;
					line-height: 18px;
					max-width: 200px;
					color: $grey800;
				}
				&:hover{
					& > a{
						background-color: $grey300;
						&:active{
							background-color: $grey100;
						}
					}
				}
			}
			ul{
				display: none;
				position: absolute;
				top: 100%; left: 0;
				min-width: 100%;
				padding: 4px 0;
				background-color: #fff;
				z-index: 150;
				box-shadow: 0 3px 5px 0 rgba(#000,.12);
				&.lean-on-right{
					right: 0; left: auto;
				}
				li{
					&.divider{
						height: 1px;
						margin: 4px 0;
						padding: 0;
						background-color: #eee;
					}
					a{
						padding: 3px 20px 3px 12px;
						color: $grey800;
						white-space: nowrap;
						&:hover{
							background-color: $grey100;
						}
						&:active{
							background-color: $grey200;
						}
					}
				}	
			}
			& > li{
				&:hover{
					ul{
						display: block;
					}
				}
			}
		}
		.pull-left{
			ul.sh_top-nav-list{
				& > li{
					&:first-child{
						margin-left: 0;
					}
				}
			}
		}
	}

	.sh_main-menu{
		background-color: #fff;
		.sh_main-menu_wrapper{
			display: flex;
			align-items: center;
			height: 56px;
			@media (min-width: $screen-md-min){
				height: 80px;
			}
		}	
		.sh_logo{
			flex: 0 0 auto;
			min-width: 0;
			margin: 0;
			padding: 0;
			height: 28px;
			line-height: 28px;
			font-size: 0;
			@media (min-width: $screen-md-min){
				flex: 0 0 auto;
				height: 40px;
				line-height: 40px;
			}
			a{
				position: relative;
				font-size: 0;
				display: block;
				overflow: hidden;
				max-width: 180px;
				text-indent: -9999px;
				@media (min-width: $screen-md-min){
					max-width: 320px;
				}
			}
			span{
				display: block;
				width: 0; height: 0;
				visibility: hidden;
				position: absolute;
				top: 0; left: 0;
			}
			img{
				@include transition(opacity .1s ease-in-out);
				display: block;
				height: 28px;
				width: auto;
				max-width: none;
				@media (min-width: $screen-md-min){
					height: 40px;
				}
			}
			a{
				img{
					&:hover{
						opacity: .85;
					}
				}
			}
		}
		.sh_search{
			flex: 1 1 auto;
			min-width: 0;
			.sh_search_wrapper{
				display: none;
				padding: 0 48px 0 120px;
				text-align: right;
				@media (min-width: $screen-md-min){
					display: block;
				}
			}
			.form-group{
				display: inline-block;
				vertical-align: top;
				max-width: 560px;
				margin: 0;
				text-align: right;
				.input-group{
					//
				}
			}
			.form-control{
				background-color: $grey50;
				&:focus{
					background-color: #fff;
					border-color: #ccc;
				}
			}
		}
		.sh_cart{
			flex: 0 0 auto;
			min-width: 0;
			@media (min-width: $screen-md-min){
    		padding: 0 8px 0 12px;
    	}
			.cart-group{
				display: block;
				position: relative;
				width: 56px;
    		height: 56px;
    		text-align: center;
    		color: $grey800;
    		@media (min-width: $screen-md-min){
    			width: auto;
    			height: 34px;
    			padding: 0 8px 0 10px;
    			white-space: nowrap;
    			background-color: $grey100;
    			border: 1px solid #e0e0e0;
    		}
    		&:active{
		    	background-color: material-color('grey','100');
		    }
    		@media (min-width: $screen-md-min){
    			border-radius: 2px;
					&:hover{
						background-color: $grey50;
					}
    		}
				.cart-icon{
					display: inline-block;
					vertical-align: top;
					font-size: 24px;
					line-height: 56px;
					@media (min-width: $screen-md-min){
						line-height: 32px;
						font-size: 20px;
					}
				}
				.cart-label{
					display: none;
					@media (min-width: $screen-md-min){
						display: inline-block;
						vertical-align: top;
						margin: 0 2px 0 6px;
						line-height: 32px;
						font-size: 12px;
						font-weight: 700;
						white-space: nowrap;
						color: $grey700;
					}
				}
				.cart-count{
					line-height: 16px;
					font-size: 11px;
					margin: 0 0 0 2px;
					padding: 1px 5px;
					color: #fff;
					background-color: $green500;
					border-radius: 4px;
					@media (max-width: $screen-sm-max){
						position: absolute;
						left: 50%; bottom: 50%;
						margin-left: 2px; margin-bottom: 2px;
						display: block;
					}
					@media (min-width: $screen-md-min){
						display: inline-block;
						vertical-align: top;
						margin-top: 7px;
					}
				}
			}
		}
		.sh_toggle-btn{
			flex: 0 0 auto;
			margin-right: -12px;
			@media (min-width: $screen-md-min){
				margin-right: 0;
			}
		}
	}
	
	.navbar-toggle{
    margin: 0;
    padding: 0;
    width: 56px;
    height: 56px;
    text-align: center;
    color: $grey800;
    border: 0;
    border-radius: 0;
    @include transition(background-color .1s ease-in-out);
    &:active{
    	background-color: material-color('grey','100');
    }
    i{
    	display: inline-block;
	    vertical-align: top;
	    line-height: 56px;
	    font-size: 16px;
    }
  	&.sh_main-navbar_toggle{
  		i{
	  		&:before{
					content: "\f129";
	  		}
	  	}
	  	&.collapsed{
	    	i{
	    		font-size: 32px;
	    		&:before{
						content: "\f20e";
	    		}
	    	}
	    }
  	} 
	}
	.navbar-collapse{
		padding-left: 0;
		padding-right: 0;
	}
	.sh_main-navbar{
		background-color: #fff;
		@media (min-width: $screen-md-min){
			background-color: $green500;
		}
		.sh_main-navbar_wrapper{
			position: relative;;
			@media (max-width: $screen-sm-max){
				border-top: $border;
			}
			@media (min-width: $screen-md-min){
				padding-right: 220px;
			}
		}
		ul.sh_main-nav-list{
			// Based
			li{
				a{
					//
				}
			}
			& > li{
				//
				& > a{
					//
				}
				ul{
					//
					li{
						//
						a{
							//
						}
					}
				}
			}
			// small screen
			@media (max-width: $screen-sm-max){
				padding: 8px 0;
				li{
					a{
						&:active{
							color: $grey500;
						}
					}
				}
				& > li{
					& > a{
						padding: 6px 8px;
						color: $grey900;
						line-height: 20px;
						font-size: 14px;
						border-top: 1px dashed $border-color;
					}
					&:first-child{
						& > a{
							border-top: 0;
						}
					}
				}
				ul{
					padding: 4px 0 8px 16px;
					border-top: 1px dashed $border-color;
					li{
						a{
							padding: 4px 8px;
							line-height: 16px;
							font-size: 12px;
							color: $grey700;
							border-top: 1px dashed $border-color;
						}
						&:first-child{
							a{
								border-top: 0;
							}
						}
					}
				}
			}
			// large Screen
			@media (min-width: $screen-md-min){
				float: left;
				font-size: 0;
				line-height: 34px;
				& > li{
					display: inline-block;
					vertical-align: top;
					& > a{
						padding: 8px 28px;
						line-height: 22px;
						font-size: 15px;
						font-weight: 400;
						white-space: nowrap;
						color: #fff;
						border-right: 1px solid rgba(#fff,.24);
					}
					&:first-child{
						& > a{
							border-left: 1px solid rgba(#fff,.24);
						}
					}
				}
				ul{
					display: none;
					position: absolute;
					top: 100%; left: 0;
					z-index: 200;
					min-width: 100%;
					padding: 5px 0;
					background-color: #fff;
					z-index: 150;
					box-shadow: 0 3px 5px 0 rgba(#000,.08);
					&.lean-on-right{
						right: 0; left: auto;
					}
					li{
						a{
							border-top: 1px dashed $border-color;
							padding: 5px 20px 5px 12px;
							color: $grey800;
							line-height: 18px;
							font-size: 12px;
							white-space: nowrap;
							&:hover{
								// color: $green700;
								background-color: $grey100;
							}
							&:active{
								background-color: $grey200;
							}
						}
						&:first-child{
							a{
								border-top: 0;
							}
						}
					}	
				}
				& > li{
					&:hover{
						& > a{
							background-color: rgba(#fff,.12);
						}
						ul{
							display: block;
						}
					}
				}
			}
			
		}
		.sh_hotline{
			display: block;
			@media (max-width: $screen-sm-max){
				padding: 12px 24px;
				border-top: $border;
			}
			@media (min-width: $screen-md-min){
				position: absolute;
				top: 4px; right: 0;
			}
			span{
				display: inline-block;
				vertical-align: top;
			}
			.hotline-group{
				position: relative;
				display: inline-block;
				color: #fff;
				background-color: $green500;
				border-radius: 2px;
				padding: 3px 8px 3px 24px;
				@media (min-width: $screen-md-min){
					display: block;
				}
				.hotline-icon{
					position: absolute;
					top: -4px; left: -19px;
					width: 38px;
					height: 38px;
					padding: 3px;
					font-size: 16px;
					text-align: center;
					color: #fff;
					background-color: $green500;
					border-radius: 50%;
					i{
						display: inline-block;
						width: 32px;
						height: 32px;
						font-size: 16px;
						text-align: center;
						border: 1px solid rgba(#fff,.6);
						border-radius: 50%;
						background-image: url("../img/hotline-icon.png");
						background-size: 20px;
						background-repeat: no-repeat;
						background-position: 50% 50%;
					}
				}
				.hotline-label{
					margin: 3px 3px 0 0;
					line-height: 18px;
					font-size: 12px;
					font-weight: 700;
					color: $grey100;
				}
				.hotline-number{
					line-height: 24px;
					font-size: 18px;
					color: #fff;
				}
				// @media (min-width: $screen-md-min){
				// 	&:hover{
				// 		background-color: $green800;
				// 		.hotline-icon{
				// 			background-color: $green800;
				// 		}
				// 	}
				// }
			}
				
		}
		ul.sh_top-nav-list{
			@media (max-width: $screen-sm-max){
				display: block;
				padding: 8px 0;
				border-top: $border;
				li{
					a{
						&:active{
							color: material-color('grey','500');
						}
					}
				}
				& > li{
					& > a{
						padding: 4px 12px;
						line-height: 18px;
						font-size: 12px;
						color: $grey700;
						border-top: 1px dashed $border-color;
						&.tnl_user-link{
							padding-left: 36px;
							.tnl_user-avatar{
								display: block;
								position: absolute;
								top: 4px;
								left: 12px;
								width: 18px;
								height: 18px;
								background-color: $grey200;
								border-radius: 50%;
							}
						}
					}
					&:first-child{
						a{
							border-top: 0;
						}
					}
				}
				ul{
					padding: 3px 0 6px 24px;
					border-top: 1px dashed $border-color;
					li{
						a{
							padding: 2px 12px;
							line-height: 18px;
							font-size: 12px;
							color: $grey700;
							border-top: 1px dashed $border-color;
						}
						&:first-child{
							a{
								border-top: 0;
							}
						}
					}
				}
			}
			@media (min-width: $screen-md-min){
				display: none;
			}
		}
	}


	&.fix-on-top{
		position: fixed;
		top: 0; left: 0; right: 0;
		z-index: 1010;
		& + .site-content{
			margin-top: 146px;
		}
	}
}

#siteHeader.header-landing-style{
	background-color: #fff;
	box-shadow: 0 1px 3px 0 rgba(#000,.12);
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			position: relative;
			a{
				display: block;
				position: relative;
				vertical-align: top;
			}
		}
	}

	// Top Nav
	.top-nav{
		display: none;
		height: 32px;
		background-color: material-color('green','500');
		@media (min-width: $screen-md-min){
    	display: block;
    }
	}
	.top-nav-container{
		ul.top-menu-list{
			font-size: 0;
			white-space: nowrap;
			li{
				a{
					line-height: 20px;
					font-size: 13px;
					font-weight: 400;
					i{
						line-height: 20px;
						display: inline-block;
						vertical-align: top;
					}
				}
			}
			& > li{
				display: inline-block;
				position: relative;
				vertical-align: top;
				padding: 0 2px;
				line-height: 20px;
				font-size: 15px;
				@media (min-width: $screen-lg-min){
					padding: 0 4px;
				}
				&:first-child{
					padding-left: 0;
				}
				&:last-child{
					padding-right: 0;
				}
				&.divider{
					width: 1px;
					height: 20px;
					padding: 0;
					margin: 6px 8px;
					background-color: rgba(#fff,.32);
					@media (min-width: $screen-lg-min){
						margin: 8px 12px;
					}
				}
				& > a{
					padding: 6px 12px;
					color: #fff;
					max-width: 200px;
					&.user-link{
						padding-left: 36px;
						.user-avatar{
							display: block;
							position: absolute;
							top: 7px;
							left: 12px;
							width: 18px;
							height: 18px;
							background-color: $grey200;
							border-radius: 50%;
						}
					}
				}
				&:hover{
					&:hover{
						& > a{
							background-color: material-color('green','600');
							&:active{
								background-color: material-color('green','700');
							}
						}
					}
				}
			}
			ul{
				display: none;
				position: absolute;
				top: 100%; left: 0;
				min-width: 100%;
				padding: 4px 0;
				background-color: #fff;
				z-index: 150;
				box-shadow: 0 3px 5px 0 rgba(#000,.12);
				&.lean-on-right{
					right: 0; left: auto;
				}
				li{
					&.divider{
						height: 1px;
						margin: 4px 0;
						padding: 0;
						background-color: #eee;
					}
					a{
						padding: 3px 20px 3px 12px;
						color: $grey800;
						white-space: nowrap;
						&:hover{
							background-color: $grey100;
						}
						&:active{
							background-color: $grey200;
						}
					}
				}	
			}
			& > li{
				&:hover{
					ul{
						display: block;
					}
				}
			}
		}
	}


	// Main Nav
	.main-nav{
		// height: 48px;
		background-color: #fff;
		@media (min-width: $screen-md-min){
    	// height: 68px;
    }
	}
	.navbar-brand {
		display: block;
    margin: 0;
    padding: 0;
    height: 48px;
    @media (min-width: $screen-md-min){
    	height: 72px;
    }
    a{
    	display: block;
    	margin: 9px 0 11px 16px;
    	padding: 0;
    	width: 90px;
    	height: 28px;
    	text-indent: -9999px;
    	background-size: auto 28px;
			background-repeat: no-repeat;
			@media (min-width: $screen-md-min){
				margin: 18px 0;
				width: 120px;
    		height: 36px;
    		background-size: auto 36px;
			}
			&:hover{
				opacity: .9;
			}
    }
	}
	.navbar-toggle{
    margin: 0;
    padding: 0;
    width: 48px;
    height: 48px;
    text-align: center;
    color: $grey700;
    border: 0;
    border-radius: 0;
    @include transition(background-color .1s ease-in-out);
    &:active{
    	background-color: material-color('grey','100');
    }
  	i{
  		display: inline-block;
    	vertical-align: top;
    	line-height: 48px;
    	font-size: 16px;
  		&:before{
				content: "\f129";
  		}
  	}
    &.collapsed{
    	i{
    		font-size: 32px;
    		&:before{
					content: "\f20e";
    		}
    	}
    }
	}
	.main-nav-container{
		@media (max-width: $screen-sm-max){
			border-top: $border;
		}
		@media (min-width: $screen-md-min){
			// margin: 18px 0;
		}
		ul.main-menu-list{
			// Based
			li{
				a{
					//
				}
			}
			& > li{
				//
				& > a{
					//
				}
				ul{
					//
					li{
						//
						a{
							//
						}
					}
				}
			}
			// Small screen
			@media (max-width: $screen-sm-max){
				text-align: center;
				padding: 8px 0;
				li{
					a{
						&:active{
							color: material-color('blue','500');
						}
					}
				}
				& > li{
					& > a{
						padding: 5px 12px;
						color: $grey900;
						border-top: 1px dashed $border-color;
					}
					&:first-child{
						a{
							border-top: 0;
						}
					}
				}
				ul{
					padding: 4px 0 8px 16px;
					border-top: 1px dashed $border-color;
					li{
						a{
							padding: 3px 12px;
							line-height: 18px;
							font-size: 13px;
							color: $grey700;
							border-top: 1px dashed $border-color;
						}
						&:first-child{
							a{
								border-top: 0;
							}
						}
					}
				}
			}
			// Large Screen
			@media (min-width: $screen-md-min){
				margin-top: -4px;
				float: left;
				font-size: 0;
				height: 72px;
				line-height: 72px;
				vertical-align: top;
				& > li{
					display: inline-block;
					vertical-align: top;
					margin: 0;
					& > a{
						display: block;
						mảgrgin: 0;
						padding: 24px 8px;
						line-height: 24px;
						font-size: 14px;
						font-weight: 500;
						color: $grey800;
						&:after{
							content: "";
							display: block;
							position: absolute;
							bottom: 0; left: 8px; right: 8px;
							height: 2px;
							background-color: transparent;
							@include transition(background-color .1s ease-in-out);
						}
					}
				}
				ul{
					display: none;
					position: absolute;
					top: 100%; left: 0;
					z-index: 200;
					min-width: 100%;
					padding: 5px 0;
					background-color: #fff;
					z-index: 150;
					box-shadow: 0 3px 5px 0 rgba(#000,.12);
					&.lean-on-right{
						right: 0; left: auto;
					}
					li{
						a{
							border-top: 1px dashed $border-color;
							padding: 5px 20px 5px 12px;
							color: $grey800;
							line-height: 22px;
							font-size: 14px;
							white-space: nowrap;
							&:hover{
								color: $green700;
								background-color: $grey100;
							}
							&:active{
								background-color: $grey200;
							}
						}
						&:first-child{
							a{
								border-top: 0;
							}
						}
					}	
				}
				& > li{
					&:hover{
						& > a{
							color: material-color('green','500');
							&:after{
								background-color: material-color('green','300');
							}
						}
						ul{
							display: block;
						}
					}
				}
			}
			@media (min-width: $screen-lg-min){
				& > li{
					& > a{
						font-size: 15px;
						padding: 24px 16px;
						&:after{
							bottom: 0; left: 12px; right: 12px;
						}
					}
				}
			}
		}
		ul.action-menu-list{
			.btn{
				font-size: 15px;
				padding: 7px 20px 9px;
				&.has-animated-effect{
					@media (min-width: $screen-md-min){
						position: relative;
						overflow: hidden;
						&:after{
							content: "";
							display: block;
							position: absolute;
							top: -6px; left: -160px;
							width: 20px;
							height: 48px;
							@include skew(-15deg, 0deg);
							background-color: rgba(#fff,.1);
							animation-duration: 4s;
		  				animation-fill-mode: both;
		  				animation-iteration-count: infinite;
		  				animation-name: buttonAnimated;
						}
					}
					&:hover{
						&:after{
							display: none;
						}
					}
				}
			}
			// Small screen
			@media (max-width: $screen-sm-max){
				border-top: $border;
				& > li{
					padding: 12px 12px;
					color: $grey900;
					border-top: 1px dashed $border-color;
					&:first-child{
						border-top: 0;
					}
				}
			}
			@media (min-width: $screen-md-min){
				float: left;
				margin: 15px 0 0 8px;
				padding: 0 0 0 12px;
				border-left: $border;
			}
			@media (min-width: $screen-lg-min){
				padding: 0 0 0 16px;
			}
		}
		ul.top-menu-list{
			@media (max-width: $screen-sm-max){
				text-align: center;
				display: block;
				padding: 6px 0;
				border-top: $border;
				li{
					a{
						&:active{
							color: material-color('blue','500');
						}
					}
				}
				& > li{
					& > a{
						padding: 4px 12px;
						font-size: 13px;
						color: $grey900;
						border-top: 1px dashed $border-color;
						&.user-link{
							padding-top: 8px;
							padding-left: 0;
							line-height: 24px;
							.user-avatar{
								display: inline-block;
								vertical-align: top;
								margin: 3px 8px 0 0;
								width: 18px;
								height: 18px;
								background-color: $grey200;
								border-radius: 50%;
							}
						}
					}
					&:first-child{
						a{
							border-top: 0;
						}
					}
				}
				ul{
					padding: 3px 0 6px 0;
					border-top: 1px dashed $border-color;
					li{
						a{
							padding: 2px 12px;
							line-height: 18px;
							font-size: 12px;
							color: $grey700;
							border-top: 1px dashed $border-color;
						}
						&:first-child{
							a{
								border-top: 0;
							}
						}
					}
				}
			}
			@media (min-width: $screen-md-min){
				display: none;
			}
		}
	}

	&.fix-top{
		position: fixed;
		top: 0; left: 0; right: 0;
		z-index: 1010;
		& + #siteContent{
			padding-top: 104px;
		}
	}
}

@keyframes buttonAnimated {
  from {
    left: -160px;
  }
  to {
    left: calc(100% + 160px);
  }
}