.ht-home-single-section{
	.section-header{
		margin-bottom: 11px;
		border-bottom: $border;
		.sh_title{
			position: relative;
			margin: 0 0 4px;
			padding: 2px 0;
			line-height: 28px;
			font-size: 20px;
			&.size-lg{
				font-size: 24px;
			}
		}
		.sh_menu{
			ul.sh_menu_list{
				padding: 0;
				margin: 0;
				list-style: none;
				font-size: 0;
				li{
					display: inline-block;
					vertical-align: top;
					margin: 0 20px 0 0;
					&:last-child{
						margin: 0;
					}
					a{
						display: block;
						padding: 4px 0;
						line-height: 16px;
						font-size: 12px;
						color: $grey700;
						&:hover{
							color: $grey500;
						}
						&:hover, &:active, &:focus{
							text-decoration: none;
						}
					}
					&.active{
						a{
							color: $green500;
						}
					}
				}
			}
		}
		@media (max-width: $screen-xs-max){
			padding-bottom: 8px;
		}
		@media (min-width: $screen-sm-min){
			display: flex;
			align-items: center;
			justify-content: space-between;
			.sh_title{
				top: 1px;
				margin: 0;
				min-width: 0;
				margin: 0 6px 0 0;
				border-bottom: 1px solid $green500;
			}
			.sh_menu{
				min-width: 0;
				margin: 1px 0 0 6px;
			}
		}
	}
	.section-content{
		//
	}
}

.category-title-items-list{
	position: relative;
	top: 1px;
	z-index: 100;
	.single-category{
		display: block;
		padding: 4px 0 3px;
		line-height: 26px;
		font-size: 15px;
		white-space: nowrap;
		color: $grey600;
		border-bottom: 1px solid transparent;
		&:hover, &:active, &:focus{
			text-decoration: none;
		}
		&:hover{
			border-color: $grey400;
		}
		&.active{
			color: $grey900;
			border-color: $green500;
		}
	}
}
.ht-category-title-item-slick{
	.single-col{
		margin: 0 12px;
	}
}

// banner slider
.ht-home-carousel-section{
	.slick-arrow{
		width: 40px;
		height: 40px;
		&.slick-prev{
			left: 0;
		}
		&.slick-next{
      right: 0;
    }
	}
}

// product slider
// .ht-home-featured-products-section{
// 	.section-content{
// 		margin-left: -1px;
// 	}
// 	.ht-featured-product-card-slick{
// 		border-left: $border;
// 		.single-col{
// 			.ht-product-card{
// 				margin: 0;
// 				border-left: 0;
// 				border-bottom: 0;
// 				&:last-child{
// 					border-bottom: $border;
// 				}
// 			}

// 		}
// 		.slick-arrow{
// 			&.slick-prev{
// 				left: -11px;
// 			}
// 			&.slick-next{
// 				right: -12px;
// 			}
// 		}
// 	}
// }

// logo brands
.ht-home-logo-brands-section{
	.section-content{
		// margin-left: -1px;
	}

	.ht-logo-brand-card-slick{
		.slick-arrow{
			&.slick-prev{
				left: -4px;
			}
			&.slick-next{
				right: -4px;
			}
		}
	}
}

// news
.ht-home-recent-news-section{
	// .ht-news-card-list{
	// 	background-color: #fff;
	// 	padding: 12px;
	// 	@media (min-width: $screen-sm-min){
	// 		padding: 0;
	// 	}

	// }
	.section-content{
		margin-left: -1px;
	}
	.ht-news-card{
		// @media (min-width: $screen-sm-min){
		// 	width: 50%;
		// 	float: left;
		// 	padding: 12px;
		// 	margin-bottom: 0;
		// 	&:nth-child(2n + 1){
		// 		padding-right: 11px;
		// 		border-right: 1px dotted #eaeaea;
		// 	}
		// 	&:nth-child(2n){
		// 		padding-left: 12px;
		// 	}

		// }
		// margin: 0;
		padding: 12px;
		background-color: #fff;
		border: $border;

		.card-header{
			@media (min-width: $screen-sm-min){
				margin: -12px -12px 8px -12px;
			}
		}
		.card-content{
			padding: 0 0 0;
			@media (min-width: $screen-sm-min){
				padding: 0 0 0;
				height: 85px;
			}
		}
		.news-title{
			margin: 0 0 3px;
			padding: 0;
			font-size: 13px;
			font-weight: 700;
			@include multiLineEllipsis(17px, 2);
		}
		.news-meta{
			line-height: 14px;
			white-space: nowrap;
			overflow: hidden;
			span{
				font-size: 11px;
				line-height: 14px;
				&:after{
					line-height: 12px;
				}
			}
		}
		.news-excerpt{
			margin-top: 3px;
			// line-height: 18px;
			font-size: 12px;
			color: $grey500;
			@include multiLineEllipsis(16px, 2);
		}
	}
	// .ht-news-card-slick{
	// 	border-left: $border;
	// 	.single-col{
	// 		.ht-news-card{
	// 			border-left: 0;
	// 			border-bottom: 0;
	// 			&:last-child{
	// 				border-bottom: $border;
	// 			}
	// 		}

	// 	}
	// 	.slick-arrow{
	// 		&.slick-prev{
	// 			left: -11px;
	// 		}
	// 		&.slick-next{
	// 			right: -12px;
	// 		}
	// 	}
	// }
}

// feedback
.ht-home-customer-feedback-section{
	.home-feedbacks-carousel{
		padding: 24px 24px 48px;
		.single-customer-feedback{
				
			.scf_main-content{
				line-height: 22px;
				font-size: 16px;
				font-style: italic;
				min-height: 45px;
				color: $grey800;
				span{
					display: inline-block;
					vertical-align: top;
					max-width: 800px;
				}
			}
			.scf_customer-content{
				margin-top: 16px;
				.scf_customer-avatar{
					display: inline-block;
					vertical-align: top;
					border: 1px solid #eee;
					padding: 2px;
					margin: 0 8px 0 0;
					img{
						display: block;
						width: 48px;
						height: 48px;
						object-fit: cover;

					}
					& + .scf_customer-info{
						text-align: left;
					}
				}
				.scf_customer-info{
					padding: 5px 0 0;
					display: inline-block;
					vertical-align: top;
					.scf_customer-title{
						line-height: 20px;
						font-size: 14px;
						font-weight: 700;
					}
					.scf_customer-subtitle{
						margin: 3px 0 0;
						line-height: 16px;
						font-size: 12px;
						color: $grey600;
					}
				}
			}

		}
		.ht-carousel-control{
			position: absolute;
			top: 50%; margin-top: -20px;
			line-height: 36px;
			padding: 0 8px;
			color: $grey500;
			font-size: 28px;
			&.left{
				left: 0;
			}
			&.right{
				right: 0;
			} 
			&:hover{
				color: $grey800;
			}
		}
		.carousel-indicators {
    	bottom: 8px;
    	font-size: 0;
    	li{
    		width: 10px !important;
    		height: 10px !important;
    		margin: 0 1px;
    		background-color: rgba(#000,.2);
    		&.active{
    			background-color: rgba(#000,.5);
    		}
    	}
		}
	}
}

// feedback
.ht-home-customer-feedback-type02-section{
	.ht-feedback-type02-list{
		padding: 24px 4px;
	}
	.single-customer-feedback{
		padding: 0 16px;
		.scf_main-content{
			line-height: 20px;
			font-size: 14px;
			font-style: italic;
			min-height: 20px * 4;
			color: $grey800;
			@media (max-width: $screen-xs-max){
				line-height: 19px;
				font-size: 13px;
				min-height: 19px * 5;
			}
			span{
				display: inline-block;
				vertical-align: top;
				max-width: 800px;
			}
		}
		.scf_customer-content{
			margin-top: 16px;
			.scf_customer-avatar{
				display: block;
				border: 1px solid #eee;
				border-radius: 50%;
				padding: 2px;
				margin: 0 8px 0 0;
				img{
					display: inline-block;
					vertical-align: top;
					border-radius: 50%;
					width: 48px;
					height: 48px;
					object-fit: cover;
				}
			}
			.scf_customer-info{
				padding: 5px 0 0;
				display: block;
				vertical-align: top;
				.scf_customer-title{
					line-height: 18px;
					font-size: 13px;
					font-weight: 700;
				}
				.scf_customer-subtitle{
					margin: 2px 0 0;
					line-height: 16px;
					font-size: 11px;
					color: $grey600;
				}
			}
		}

	}
}

// qna
.ht-home-qna-section{
	.ht-home-list-qnas{
		.ht-home-single-qna{
			margin: 0 0 12px;
			padding: 4px 0;
			p{
				margin-bottom: 5px;
			}
			.single-qna_question{
				margin: 0 0 8px;
				line-height: 18px;
				font-size: 14px;
				font-weight: 700;
				font-style: italic;

			}
			.single-qna_answer{
				line-height: 16px;
				font-size: 12px;
				color: $grey700;
				@include multiLineEllipsis(18px,4);

			}
		}
	}
}